@page
@model BerserkCodesGDVTSM.Views.Detalle_productoes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Detalle_Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Detalle_Producto.Color" class="control-label"></label>
                <input asp-for="Detalle_Producto.Color" class="form-control" />
                <span asp-validation-for="Detalle_Producto.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detalle_Producto.Tipo_De_Uso" class="control-label"></label>
                <input asp-for="Detalle_Producto.Tipo_De_Uso" class="form-control" />
                <span asp-validation-for="Detalle_Producto.Tipo_De_Uso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detalle_Producto.Durabilidad" class="control-label"></label>
                <input asp-for="Detalle_Producto.Durabilidad" class="form-control" />
                <span asp-validation-for="Detalle_Producto.Durabilidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detalle_Producto.Material" class="control-label"></label>
                <input asp-for="Detalle_Producto.Material" class="form-control" />
                <span asp-validation-for="Detalle_Producto.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detalle_Producto.Estampado" class="control-label"></label>
                <input asp-for="Detalle_Producto.Estampado" class="form-control" />
                <span asp-validation-for="Detalle_Producto.Estampado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
